body {
    padding: 50px;
    margin: auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    margin-bottom: 30px;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: #9ca0a8;
}