@media screen and (min-width: 993px) and (max-width: 2992px){
    body{
        max-width: 902px;
        margin: 50px auto;
        text-align: center;
        color: white;
        font-size: 25px;
    }

    .conteiner {
        width: 940px;
        display: flex;
        flex-wrap: wrap;
    }

    .conteiner1 {
        width: 640px;
        display: flex;
        flex-wrap: wrap;
    }

    .a {
        width: 900px;
        height: 200px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-bottom: 10px;
    }

    .b {
        width: 625px;
        height: 200px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-bottom: 10px;
    }

    .c {
        width: 200px;
        height: 200px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-right: 10px;
    }

    .f {
        width: 260px;
        height: 412px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
    }
}



@media  screen and (min-width: 768px) and (max-width: 992px) {
    body{
        max-width: 750px;
        margin: 50px auto;
        text-align: center;
        color: white;
        font-size: 25px;
    }

    .conteiner {
        width: 100%;
        max-width: 750px;
        min-width: 620px;
        display: flex;
        flex-wrap: wrap;
    }

    .conteiner1 {
        width: 100%;
        max-width: 750px;
        min-width: 620px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .a {
        max-width: 748px;
        height: 150px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-bottom: 10px;
    }

    .b {
        width: 100%;
        height: 300px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-bottom: 10px;
    }

    .c {
        width: 210px;
        height: 210px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
        margin-bottom: 10px;
    }

    .f {
        width: 100%;
        height: 150px;
        background-color: #9ca0a8;
        border: 1px solid #000000;
    }
}